html, body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Forum", serif;
  font-size: 18px;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

a {
  color: #c78665;
}

a:hover {
  color: #81553e;
  text-decoration: none;
}

.gold {
  color: #c78665;
}

.navbar {
  font-size: 16px;
  background-color: #3e051c;
}

.navbar-brand {
  font-family: "Kaushan Script", cursive;
}

.navbar-brand span {
  color: #A21C37;
}

header {
  min-height: 300px;
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  header {
    min-height: 420px;
  }
}

header h1 {
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 1px 1px 1px #000;
  color: white;
  font-size: 50px;
  font-weight: 300;
}

@media (min-width: 768px) {
  header h1 {
    text-shadow: 0.75px 0.75px 0.75px #000;
    font-size: 64px;
  }
}

.section {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
}

@media (min-width: 900px) {
  .section {
    padding-bottom: 100px;
  }
}

.section .first-letter {
  font-weight: bold;
  font-size: 44px;
  color: #A21C37;
}

.rsvp header {
  background-image: url("images/mdagpix-17.jpg");
  background-size: cover;
  background-position: center 1%;
  padding: 3rem 1rem;
}

@media (min-width: 576px) {
  .rsvp header {
    padding: 3rem 2rem;
  }
}

@media (min-width: 900px) {
  .rsvp header {
    padding: 5rem 2rem;
  }
}

.rsvp .section {
  width: 350px;
  padding-top: 40px;
  padding-bottom: 50px;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .rsvp .section {
    width: 500px;
  }
}

@media (min-width: 900px) {
  .rsvp .section {
    width: 900px;
  }
}

.rsvp .rsvp-form {
  width: 100%;
  height: 1200px;
}

.our-story header {
  background-image: url("images/mdagpix-51.jpg");
  background-size: cover;
  background-position: center center;
}

.our-story .mobile-only {
  display: block;
}

@media (min-width: 900px) {
  .our-story .mobile-only {
    display: none;
  }
}

.our-story .float-right {
  width: 200px;
  float: right;
  margin-left: 8px;
}

@media (min-width: 900px) {
  .our-story .float-right {
    width: 300px;
  }
}

.our-story .float-left {
  width: 200px;
  float: left;
  margin-right: 8px;
}

@media (min-width: 900px) {
  .our-story .float-left {
    width: 300px;
  }
}

.our-story .center {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 10px auto;
}

.our-story .full-width {
  width: 100%;
  margin-bottom: 10px;
}

.when-where header {
  background-image: url("images/barn.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.when-where header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5rem 1rem;
}

@media (min-width: 576px) {
  .when-where header .overlay {
    padding: 6rem 2rem;
  }
}

@media (min-width: 900px) {
  .when-where header .overlay {
    padding: 7rem 2rem;
  }
}

.when-where .section h2 {
  font-size: 1.3rem;
  color: #A21C37;
  font-weight: bold;
}

.when-where .section img {
  width: 100%;
}

.when-where .section .btn {
  display: block;
  width: 100px;
  margin: 10px auto;
  color: white;
}

.when-where .section .btn:hover {
  color: white;
}

.when-where .section .logos {
  text-align: center;
}

.when-where .section .logos a {
  display: inline-block;
  width: 130px;
  text-align: center;
}

@media (min-width: 600px) {
  .when-where .section .logos a {
    width: 150px;
    margin: 0px 10px;
  }
}

.when-where .section .hotel {
  text-align: center;
  padding: 20px 0;
}

.wedding-party header {
  background-image: url("images/inside.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.wedding-party header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5rem 1rem;
}

@media (min-width: 576px) {
  .wedding-party header .overlay {
    padding: 6rem 1rem;
  }
}

@media (min-width: 900px) {
  .wedding-party header .overlay {
    padding: 7rem 2rem;
  }
}

.wedding-party h3 {
  font-size: 1.3rem;
  color: #A21C37;
  font-family: 'Kaushan Script';
}

.wedding-party h3.secondary {
  margin-bottom: 1.1rem;
}

.wedding-party h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #c78665;
}

.wedding-party .section {
  text-align: center;
}

.wedding-party .section .row {
  margin-bottom: 1rem;
}

.registry header {
  background-image: url("images/mdagpix-11.jpg");
  background-size: cover;
  background-position: center 80%;
  position: relative;
}

.registry header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5rem 1rem;
}

@media (min-width: 576px) {
  .registry header .overlay {
    padding: 6rem 1rem;
  }
}

@media (min-width: 900px) {
  .registry header .overlay {
    padding: 7rem 2rem;
  }
}

.registry .section img {
  width: 100%;
}

.things-to-do header {
  background-image: url("images/mdagpix-23.jpg");
  background-size: cover;
  background-position: center 60%;
  position: relative;
}

.things-to-do header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem 1rem;
}

@media (min-width: 576px) {
  .things-to-do header .overlay {
    padding: 3rem 1rem;
  }
}

@media (min-width: 900px) {
  .things-to-do header .overlay {
    padding: 5rem 2rem;
  }
}

.things-to-do .section h2 {
  font-size: 1.3rem;
  color: #A21C37;
  font-weight: bold;
}

.things-to-do .section h2 a {
  color: #A21C37;
}

.things-to-do .section h2 a:hover {
  color: #c78665;
}

.things-to-do .section img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */