$accent: #A21C37;
$nav: #000;
$dark: #400511;
$nav: #3e051c;
$secondary:  #c78665;

html,body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Forum", serif;
    font-size: 18px;
    @media(min-width: 768px) {
        font-size: 20px;
    }
}
a {
    color: $secondary;
    &:hover {
        color: #81553e;
        text-decoration: none;
    }
}
.gold {
    color: $secondary;
}
.navbar {  
    font-size: 16px;
    background-color: $nav;
    &-brand {
        font-family: "Kaushan Script", cursive;
        span {
            color: $accent;
        }
    }
}

header {
    min-height: 300px;
    text-align: center;
    margin-bottom: 0;
    @media(min-width: 900px) {
        min-height: 420px;
    }
    h1 {
        font-weight: bold;
        font-family: 'Kaushan Script', cursive;
        text-shadow: 1px 1px 1px #000;
        color: white;
        font-size: 50px;
        font-weight: 300;
        @media(min-width: 768px) {
            text-shadow: 0.75px 0.75px 0.75px #000;
            font-size: 64px;
        }
    }
}
.section {
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
    @media(min-width: 900px) {
        padding-bottom: 100px;
    }
    .first-letter {
        font-weight: bold;
        font-size: 44px;
        color: $accent;
    }
}
.rsvp {
    header {
        background-image: url('images/mdagpix-17.jpg');
        background-size: cover;
        background-position: center 1%;
        padding: 3rem 1rem;
        @media(min-width: 576px) {
            padding: 3rem 2rem;
        }
        @media(min-width: 900px) {
            padding: 5rem 2rem;
        }
    }
    .section {
        width: 350px;
        padding-top: 40px;
        padding-bottom: 50px;
        margin: 0 auto;
        @media(min-width: 500px) {
            width: 500px;
        }
        @media(min-width: 900px) {
            width: 900px;
        }
    }
    .rsvp-form {
        width: 100%;
        height: 1200px;   
    }
}
.our-story {
    header {
        background-image: url('images/mdagpix-51.jpg');
        background-size: cover;
        background-position: center center;
    }
    .mobile-only {
        display: block;
        @media(min-width: 900px) {
            display: none;
        }
    }
    .float-right {
        width:200px; 
        float:right; 
        margin-left: 8px;
        @media(min-width: 900px) {
            width: 300px;
        }
    }
    .float-left {
        width:200px; 
        float:left; 
        margin-right: 8px;
        @media(min-width: 900px) {
            width: 300px;
        }
    }
    .center {
        width: 100%;
        max-width: 500px;;
        display: block;
        margin: 10px auto;
        @media(min-width: 900px) {
            
        }
    }
    .full-width {
        width: 100%;
        margin-bottom: 10px;
    }
}
.when-where {
    header {
        background-image: url('images/barn.jpg');
        background-size: cover;
        background-position: center center;
        position: relative;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:rgba(0,0,0,0.3);
            padding: 5rem 1rem;
            @media(min-width: 576px) {
                padding: 6rem 2rem;
            }
            @media(min-width: 900px) {
                padding: 7rem 2rem;
            }
        }
    }
    .section {
        h2 {
            font-size: 1.3rem;
            color: $accent;
            font-weight: bold;
        }
        img {
            width: 100%;
        }
        .btn {
            display:block;
            width: 100px;
            margin: 10px auto;
            color:white;
            &:hover {
                color:white;
            }
        }
        .logos{
            text-align: center;
            a {
                display: inline-block;
                width: 130px;
                text-align: center;
                @media(min-width: 600px) {
                    width: 150px;
                    margin: 0px 10px;
                }
            }
        }
        .hotel {
            text-align: center;
            padding: 20px 0;
        }
    }
}
.wedding-party {
    header {
        background-image: url('images/inside.jpg');
        background-size: cover;
        background-position: center center;
        position: relative;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:rgba(0,0,0,0.2);
            padding: 5rem 1rem;
            @media(min-width: 576px) {
                padding: 6rem 1rem;
            }
            @media(min-width: 900px) {
                padding: 7rem 2rem;
            }
        }
    }
    h3 {
        font-size: 1.3rem;
        color: $accent;
        font-family: 'Kaushan Script';
        &.secondary {
            margin-bottom: 1.1rem;
        }
    }
    h4 {
        font-size: 1rem;
        font-weight: bold;
        color: $secondary;
    }
    .section {
        text-align: center;
        .row {
            margin-bottom: 1rem;
        }
    }
}
.registry {
    header {
        background-image: url('images/mdagpix-11.jpg');
        background-size: cover;
        background-position: center 80%;
        position: relative;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:rgba(0,0,0,0.3);
            padding: 5rem 1rem;
            @media(min-width: 576px) {
                padding: 6rem 1rem;
            }
            @media(min-width: 900px) {
                padding: 7rem 2rem;
            }
        }
    }
    .section {
        img {
            width: 100%;
        }
    }
}